table td {
  table-layout:fixed;
  width:143px;
  overflow:hidden;
  word-wrap:break-word;
}

#picture {
   margin-bottom:50px;
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";

}