<div id="map"></div>

<div class="container_details">
    <h2>Restaurant Details</h2>
    <form name="restaurantDetails">
          <label for="name">Name:</label>
          <input type="text" id="name" class="element_distance" ng-readonly="!checked" ng-model="details.name"><br>

          <label for="capacity">Capacity:</label>
          <input type="text" id="capacity" class="element_distance" ng-readonly="!checked" ng-model="details.free_spots"><br>

          <label for="cuisine">Cuisine:</label>
          <input type="text" id="cuisine" class="element_distance" ng-readonly="!checked" ng-model="details.cuisine"><br>

          <label  for="priceRange">Price range:</label>
          <input type="text" id="priceRange" class="element_distance" ng-readonly="!checked" ng-model="details.price"><br>

          <h3>Contact</h3>
          <label for="website" class="element_distance">Website:</label>
          <input type="text" id="website" class="element_distance" ng-readonly="!checked" ng-model="details.website"><br>

          <label for="phone" class="element_distance">Phone:</label>
          <input type="text" id="phone" class="element_distance" ng-readonly="!checked" ng-model="details.telefon"><br>

          <input type="checkbox" id="checkbox_edit" ng-model="checked">
          <button id="btn" type="submit" ng-click="save()" class="btn" >Save!</button>
	</form>
</div>