
<!--<a href="register.html">Register</a>-->
<!--<div id="owl-demo" class="owl-carousel owl-theme">-->

<!--<div class="item"><img src="img.jpg" alt="The Last of us"></div>-->

<!--</div>-->


<div id="picture" class="container">
    <img src="img.jpg" alt="">
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <td>City:</td>
            <td>Date:</td>
            <td>Hour:</td>
            <td>Number of persons:</td>
            <td>Restaurant name:</td>
            <td>Kitchen specific:</td>
        </tr>
        </thead>
    </table>
    <form class="form-horizontal" role=form">
        <!--<input class="span2" type="text" placeholder="City" ng-model="search.city">-->
        <select id="input1" class="span2" name="city" ng-model="search.city">
            <option value="Bucharest">Bucharest</option>
        </select>
        <input id="input2" class="span2" type="date" required ng-model="search.date">
        <input id="input3" class="span2" type="time" required ng-model="search.hour"  >
        <input id="input4" class="span2" type="number" placeholder="Persons #" required ng-model="search.numSpots">
        <input id="input5" class="span2" type="text" placeholder="Restaurant name" ng-model="search.name">
        <input id="input6" class="span2" type="text" placeholder="Kitchen specific" ng-model="search.cuisine">

        <button type="submit" class="btn" ng-click='go()'>Search</button>
    </form>
</div>
<div id="accordion">
    <div ng-repeat="item in restaurants">
        <h3>{{item.name}}</h3>
        <div>
            <p>
                Cuisine: {{item.cuisine}} <br>
                Website: {{item.website}}<br>
                Phone number: {{item.phone}}<br>
                Adress: {{item.address.street}}, {{item.address.building}}<br>
                Price range: {{item.range}}<br>
                <!--<div id="map"> </div>-->
            </p>
        </div>
    </div>
</div>
<!--<div layout="column" ng-cloak>
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <p>Use <code>md-autocomplete</code> to search for matches from local or remote data sources.</p>
            <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="What is your favorite US state?">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{ctrl.searchText}}" were found.
                    <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>
            <br/>
            <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
            <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
            <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>
            <p>By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
        </form>
    </md-content>
</div>-->
<div class="container">
    <hr>
    <footer>
        <p>&copy; BookEat 2016</p>
    </footer>
</div> <!-- /container -->